tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	background-image: url(space.jpg)
}

@font-face {
	font-family: stark;
	src: url(stark.otf)
}
h1{
	font-size: 40px;
	display: ;
	text-align: center;
	margin: 35%;
	margin-top: 0%;
	
}
h1,
h3 {
	font-family: stark;
	color: orangered;
	text-align: center;
	
	
	border: 20px;
	border-width: auto;
	padding: 8px;
	padding: 1px;
	border: 1px solid orangered;
	background-color: rgba(255, 255, 0, 0.2);
	box-shadow: 0 8px 10px 0 rgba(192, 189, 17, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
	width: 175px;
	font-size: 20px;
}

body {
	background-image: url(space.jpg)
}

.gallery {
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin-top: 10%;

}
p {
	color: gold;
	font-size: 30px;
	text-align: center;
	align-content: center;
}
.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: orangered;
	color: yellow;
	border-radius: 50%;
	
}

.fa-twitter {
	background: orangered;
	color: yellow;
	border-radius: 50%;
}

